html,body
{
margin: 0;
padding: 0;
height:auto;
background: #fff;
}
.container
{
display: flex;
height: auto;
top: 3vh;
position: relative;
z-index: 999;
width: 50%;
}
.btn
{
width: 80px;
height: 80px;
background-color: #fafafa;
display: flex;
align-items: center;
justify-content: center;
margin-left: 2em;
margin-right: 1em;
cursor: pointer;
transition: all 0.3s;
border-radius: 10px;
}
i.fa
{
font-size: 30px;
}
#fb
{
color: #006fff;
text-shadow: 0 0 30px #006fff;
}
#ig
{
color: #ff5f40;
text-shadow: 0 0 30px #ff5f40;
}
#tw
{
color: #00acff;
text-shadow: 0 0 30px #00acff;
}
.btn.fb-btn
{
box-shadow: 0 20px 20px -17px rgba(0,111,255,0.53);
}
.btn.fb-btn:hover
{
transform: scale(1.2);
box-shadow: 0 30px 45px -15px rgba(0,111,255,0.65);
}
.btn.ig-btn
{
box-shadow: 0 20px 20px -17px rgba(255,16,39,0.5);
}
.btn.ig-btn:hover
{
transform: scale(1.2);
box-shadow: 0 30px 45px -15px rgba(255,16,39,0.57);
}
.btn.tw-btn
{
box-shadow: 0 20px 20px -17px rgba(0,255,255,0.53);
}
.btn.tw-btn:hover
{
transform: scale(1.2);
box-shadow: 0 30px 45px -15px rgba(0,111,255,0.6);
}




*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero {
    position: relative;
    background: #fbfbfb;
    padding: 10px;
    bottom: 9vh;
}
nav{
    display: flex;
    width: 84%;
    margin:auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}
a{
    color: #000;
    text-decoration: none;
}

nav ul li a:hover{
    color: red;
}
.detail{
    position: relative;
    top: 6vh;
}

.detail h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
    
}
span{
    color: orange;
}
.detail p{
    color: #555;
    line-height: 22px;
}
.detail a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;color:#fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    height: 60%;

    bottom:0;
}
.images img{
    height:78%;
    position: absolute;
    bottom: 2vh;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .shape{
    bottom: 40px;

}
.images:hover .me{
    left: 45%;
}
.shape{
    border-radius: 200px;
    outline-style:auto;
} 

.main-area{
    display: flex;
    justify-content: space-evenly;
}