*{
    margin: 0%;
}
.about{
    text-align: center;
    padding: 10px;
    font-style: inherit;
    font-weight: bold;
    font-size: large;
}
.img{
    text-align: center;
    padding: 0%;
}
.para{
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: large;
    word-spacing: 5px;
}